// app global css in SCSS form
@font-face {
  font-family: myriad;
  src: url(./Myriad/MyriadPro-Regular.woff);
}
@font-face {
  font-family: stengazeta;
  src: url(./Stengazeta/Stengazeta-Regular_5.ttf);
}

@font-face {
  font-family: monts;
  src: url(./Monsterrat/Montserrat-Black.woff);
}

* {
  font-family: "myriad";
}
