$primary   : #673AB7; // для кнопок
$secondary : #00BCD4; // для дополнительных кнопок
$accent    : #FF4081; // цвет фона
$dark      : #212121; // background всего сайта
$dark-page : #303030; // background страниц

$positive  : #21ba45; // для позитивных сообщений
$negative  : #D32F2F; // для ошибок и предупреждений
$info      : #03A9F4; // для информационных сообщений
$warning   : #FFEB3B; // для предупреждений





//$dark      : #1F1F1F;
// $primary   : #3F51B5;
//$accent    : #9C27B0;
//$negative  : #D32F2F;
//$info      : #2196F3;
//$accent   : #FF5722;
//$positive  : #4CAF50;
//$warning   : #FFC107;
